@model AlbertosMarket.Models.Market

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Market</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Author.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Option)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Option)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Post)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Post)
        </dd>
    </dl>
</div>

@if (Model.Comments != null)
{
    <h3>Comments</h3>
    <p>
        <!--@Html.ActionLink("Add Comment", "Create", "Comment")-->
        @Html.ActionLink("Add Comment", "Create",
        "Comment", new {id = Model.ID}, null)
    </p>
    <table class="table">
        <tr>
            <th>Author </th>
            <th>Comment </th>
            <th>Date </th>
        </tr>

        @foreach (var item in Model.Comments)
        {
            string selectedRow = "";
            if (item.AuthorID == ViewBag.AuthorID)
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @item.Author.Name
                </td>
                <td>
                    @item.Content
                </td>
                <td>
                    @item.CommentDate
                </td>
            </tr>
        }

    </table>
}
<!--
<div>
   @using (Html.BeginForm("AddComment", "Market", FormMethod.Post))
   {
    <p>
        Make comment:
    </p>
    <p>
        @Html.TextBox("NewComment", ViewBag.NewComment as string)
        <input type="submit" value="Add comment" />
    </p>
   }
</div>-->
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>